.Projects {
    padding: 2vw;
    height: 30vh;
    width: 60vw;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.Project-card {
    background-color: red;
    transition: all 0.5s;
}

.Project1 {
    position: absolute;
    left: 0;
    height: 60%;
    width: 30%;
}

.Project2 {
    position: absolute;
    left: 31%;
    height: 80%;
    width: 38%;
}

.Project3 {
    position: absolute;
    left: 70%;
    height: 60%;
    width: 30%;
}
