.Projects-div {
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 5px;
    overflow: auto;
    transition: all 0.6s;
    display: none;
}

.Project1 {
    position: absolute;
    left: 0%;
    height: 60%;
    width: 30%;
    opacity: 0.3;
    z-index: -1;
    display: block;
}



.Project2 {
    background-color: white;
    position: absolute;
    left: 15%;
    height: 80%;
    width: 70%;
    z-index: 1;
    display: block;
}

.Project3 {
    position: absolute;
    left: 70%;
    height: 60%;
    width: 30%;
    z-index: -2;
    opacity: 0.3;
    display: block;
}

.left-arrow {
    position: absolute;
    font-size: xxx-large;
    left: 0;
    height: 50%;
    width: 10%;
    background-color: white;
    opacity: 0.5;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 5px;
    border: 0;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    font-size: xxx-large;
    right: 0;
    height: 50%;
    width: 10%;
    background-color: white;
    opacity: 0.5;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 5px;
    cursor: pointer;
}