.Projects-div {
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 5px;
    transition: all 0.6s;
    display: none;
    border: 1px solid black;
    overflow: scroll;
}

.Project1 {
    position: absolute;
    left: 0%;
    height: 60%;
    width: 30%;
    opacity: 0.3;
    z-index: -1;
    display: block;
    animation: slide-right 0.6s forwards;
}



.Project2 {
    background-color: white;
    position: absolute;
    left: 15%;
    height: 80%;
    width: 70%;
    z-index: 1;
    display: block;
    animation: slide-right 0.6s forwards;

}

.Project3 {
    position: absolute;
    left: 70%;
    height: 60%;
    width: 30%;
    z-index: -2;
    opacity: 0.3;
    display: block;
    animation: slide-right 0.6s forwards;
}

.left-arrow {
    text-align: left;
    position: absolute;
    font-size: xxx-large;
    position: absolute;
    left: 0%;
    height: 60%;
    width: 30%;
    background-color: transparent;
    opacity: 0.5;
    border: 0;
    cursor: pointer;
}

.right-arrow {
    text-align: right;
    position: absolute;
    font-size: xxx-large;
    left: 70%;
    height: 60%;
    width: 30%;
    background-color: transparent;
    opacity: 0.5;
    border: 0;
    cursor: pointer;
}




@keyframes slide-right {
    from {
        margin-left: -100%;

    }

    to {
        margin-left: 0;
    }
}