.Project-Card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;

}

.Project-info {
    word-break: break-word;
    text-size-adjust: auto;
}