.Project-Card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100%;
    width: 100%;
    padding: 3%;

}

.Project-info {
    text-size-adjust: auto;
}

.Project-links{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}