* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
}

ul {
  list-style-position: inside;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', 'Courier New', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}

.lmargin2 {
  margin-left: 2vw;
}

p {
  font-weight: 500;
}
*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}